@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    overflow-x: hidden;
}



.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.carousel {
    width: 100%;
    height: 60vh;
    position: relative;
}

.carousel>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

.d1 {
    transition-delay: 100ms
}

.d2 {
    transition-delay: 200ms
}

.d3 {
    transition-delay: 300ms
}

.d4 {
    transition-delay: 400ms
}

.d5 {
    transition-delay: 500ms
}

.d6 {
    transition-delay: 600ms
}

.d7 {
    transition-delay: 700ms
}

.d8 {
    transition-delay: 800ms
}

.d9 {
    transition-delay: 900ms
}


.box {
    background-color: red;
    width: 150px;
    height: 150px;
    margin-right: 5px;
}

.center {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.reveal-x {
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: all 1.01s;
}

.slideActive-x {
    transform: translateX(0px);
    opacity: 1;
}


.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1.01s;
}

.slideActive {
    transform: translateY(0px);
    opacity: 1;
}